<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css"href="{% static 'movie1/first.css' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script scr="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--used to create a toggle button when screen will collapsed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--default to make color white -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{ % url 'movies:index' %}">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class ="nav navbar-nav">

                <li class="">
                    <a href="{ % url 'movies:index" %}"
                        <span class="glyphicon glyphicon-cd" aria-hidden="true>"</li>&nbsp;Movies
                    </a>
                </li>
                <li class="">
                    <a href="{ % url 'movies:index" %}"
                        <span class="glyphicon glyphicon-music" aria-hidden="true>"</li>&nbsp;Songs
                    </a>
                </li>
            </ul>
            <from class="navbar-form navbar-left" role="search" method="get" action="#">
                  <div class="from-group">
                      <input type="text" class="from-control" name="Q" value="">
                       <button type="submit" class="btn btn-default">Search</button>
                  </div>

            </from>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{ % url 'movies:index" %}"
                        <span class="glyphicon glyphicon-plus" aria-hidden="true>"</li>&nbsp;AddMovies
                    </a>
                </li>
                <li class="">
                    <a href="{ % url 'movies:index" %}"
                        <span class="glyphicon glyphicon-off" aria-hidden="true>"</li>&nbsp;LogOut
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- to use the above code in other pages -->
{% block head %}
{%endblock %}
</body>
</html>