<!-- to use the header html file in this page -->
{% extends 'movies/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first page</title>

</head>
<!-- header code start here --->
{% block head %}
<body text="red">


<!--"movies/form" -->
<center><h1>{{ab}}</h1></center>
<form action="{% url 'count' %}" method="get">
    {% csrf_token %}
    Name:<input type="text" name="user">
    Password:<input type="password" name="password1" id="password1">
    <br>
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Login</button>

</body>
<!-- header code close here --->
{%endblock %}
</html>