<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>password</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css"href="{% static 'background/password.css' %}"/>
</head>
<body>
<div class="login-page">
  <div class="form">

    <form class="login-form"  method="post" action="{% url 'confirm_password' %}">
    {{error}}

    {% csrf_token %}
      <input type="text" name="password" placeholder="password"/>
      <input type="text" name="confirm_password" placeholder=" confrim password"/>
        <input type="hidden" name="id" value={{id}}>
      <button>Change</button>

    </form>
  </div>
</div>
</body>
</html>