<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <title>home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'background/index/img/favicon.png'%}" rel="icon">
  <link href="{% static 'background/index/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'background/index/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'background/index/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{% static 'background/index/lib/animate/animate.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'background/index/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
      <img src="{{account.Image.url}}">

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          {% if user.is_authenticated %}

         <!-- <form name="form"id="logout" method="post" action="{% url 'logout' %}">-->
        <!---<a href="" class="btn btn-primary my-2">LogOut</a>-->
           <li class="menu-active"><a href="#hero">Home</a></li>
            <li><a href="sign/about/">About Us</a></li>
           <li><a href="sign/seat/">Rooms</a></li>
             <li><a href="sign/notice/">Notice</a></li>
             <li><a href="sign/complain/">Complain</a></li>
            <li><a href="sign/contact/">Contact Us</a></li>
             <li><a href=" admin/login/?next=/admin/">admin</a></li>
            <li><a href="sign/change_password/" >Change Password</a></li>
             <li><a href="{% url 'logout' %}" >Logout</a></li>
              <li><a href={{key}}>{{key2}}</a></li>
             <li><a href={{key3}}>{{key4}}</a></li>
      <!--  <button type="submit" class="btn btn-primary">LogOut</button>-->

<!--<input type="hidden"/>-->

    </form>
        {% else %}

            <li class="menu-active"><a href="#hero">Home</a></li>
            <li><a href="sign/about/">About Us</a></li>
            <li><a href="sign/login">Log in</a></li>
            <li><a href="sign/signup/">Sign Up</a></li>
             <li><a href="sign/contact/">Contact Us</a></li>

        {% endif %}

        </ul>



      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Amarapali</h1>
      <h2>Our college provide the best hostel rooms</h2>
     <!-- <a href="#about" class="btn-get-started">Get Started</a>-->
    </div>
  </section><!-- #hero -->

 

  <!--==========================
    Footer
  ============================-->
 

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
